<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/popper.js/umd/popper.min.js"/> //link bootstrap stylesheet
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script> //bootstrap and popper libraries, bootstrap needs popper

    <script src="~/lib/jquery/dist/jquery.min.js"></script> //attach JQuery libraries and client side data validation
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"><</script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
